{% extends 'index.html' %}
{% block title %}
    Confirmación Eliminación Préstamo
{% endblock title %}}

{% block body %}

{% if request.user.is_superuser %}
    <div class="container d-flex justify-content-center">
        <div class="col-6 alert alert-warning text-center" role="alert">
            <form method="POST">
                {% csrf_token %}
                <h4> 
                    <i class="bi bi-exclamation-triangle-fill"></i>
                    ¿Desea eliminar el préstamo nº {{ object }}?
                </h4>
                <button type="submit" class="btn btn-danger">Confirmar</button>
                <a href="{% url 'loans:list_loan' %}" class="btn btn-primary">Cancelar</a>
            </form>
        </div>
    </div>
{% else %}
    <h1 class="link-light">No tiene permisos para eliminar un prestamo</h1>
{% endif %}
    

{% endblock body %}